<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kokoro-fastapi</string>
  <key>ProgramArguments</key>
  <array>
    <string><APP-SUPPORT-VARIABLE>/start-cpu.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string><HOME-VARIABLE>/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>PROJECT_ROOT</key>
    <string><PWD-VARIABLE></string>
  </dict>
  <key>WorkingDirectory</key>
  <string><APP-SUPPORT-VARIABLE></string>
  <key>StandardOutPath</key>
  <string><PWD-VARIABLE>/log/run.out</string>
  <key>StandardErrorPath</key>
  <string><PWD-VARIABLE>/log/run.err</string>
</dict>
</plist>
